{% extends "blog_app/base.html" %}
{% block conetnt %}
<h1 class="display-3">About “What’s On Your Mind”</h1>
<p>Welcome to What’s On Your Mind, a blog where you can 
    freely share your thoughts, ideas, and experiences. 
    Whether you want to write about personal reflections, 
    societal issues, or anything in between, this platform 
    is yours. Explore posts, leave comments, and connect 
    with like-minded individuals—all while maintaining 
    your anonymity. Join our supportive community today! 
    <a href="{% url 'login' %}">Sign up</a> to start sharing your stories.
</p>
{% endblock conetnt %}
